@page "/events"
<!--page-title-area start-->
<section class="page-title-area d-flex justify-content-center align-items-center" style="background-image:url(assets/img/bg/campaignPageHeader.png);">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class=" text-center">
                    <h1 class="page-title  fw-600 f-45 wow fadeInUp2 animated text-buzz-in " data-wow-delay='.1s'>Events</h1>

                </div>
            </div>
        </div>
    </div>
</section>
<!--page-title-area area-->
<section class="events-area pt-130 pb-45">
    <div class="container">
        <h1 class='f-26 fw-500'>
        Showing All Events
        </h1>
        <div class="row mt-30 ">
            <div class="col-xl-6 col-lg-6 col-12">
                    <div class='custom-PrimaryCards '>
                            <img src="assets/img/eventPic1.png" class='w-100' alt="">
                            <h1 class='f-24 fw-500 mt-16px'>
                                Event Title 01
                            </h1>
                            <p class='mt-10px'>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            </p>
                    </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-12">
                    <div class='custom-PrimaryCards '>
                            <img src="assets/img/eventPic2.png" class='w-100' alt="">
                            <h1 class='f-24 fw-500 mt-16px'>
                                Event Title 02
                            </h1>
                            <p class='mt-10px'>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            </p>
                    </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-12 mt-30">
                    <div class='custom-PrimaryCards '>
                            <img src="assets/img/eventPic3.png" class='w-100' alt="">
                            <h1 class='f-24 fw-500 mt-16px'>
                                Event Title 03
                            </h1>
                            <p class='mt-10px'>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            </p>
                    </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-12 mt-30">
                    <div class='custom-PrimaryCards '>
                            <img src="assets/img/eventPic4.png" class='w-100' alt="">
                            <h1 class='f-24 fw-500 mt-16px'>
                                Event Title 04
                            </h1>
                            <p class='mt-10px'>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            </p>
                    </div>
            </div>
        </div>
    </div>
</section>