@page "/event/{id}"
@code{
    [Parameter]
    public string id { get; set; }
}
<section class="page-title-area" style="background-image:url(assets/img/bg/bg-custom.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="page-title-wrapper text-center">
                    <h1 class="page-title wow fadeInUp2 animated" data-wow-delay='.1s'>Events</h1>
                    <div class="breadcrumb">
                        <ul class="breadcrumb-list wow fadeInUp2 animated" data-wow-delay='.3s'>
                            <li><a href="index.html">Tittle<i class="far fa-chevron-right"></i></a></li>
                            <li><a class="active" href="javascript:void(0);"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="events-details-area pt-125 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12">
                <div class="events-details-box mb-35  wow fadeInUp2 animated" data-wow-delay='.1s'>
                    <h3>How To Build Your Products To Gold Customers Value Systems</h3>
                    <div class="evetns__details__thumb">
                        <img src="assets/img/events/12.jpg" alt="">
                    </div>
                    <div class="events-details-meta theme-bg2 pos-rel d-none d-md-block">
                        <span><i class="far fa-map-marker-alt"></i> 25 Main Street ,New York</span>
                        <span><i class="far fa-clock"></i> 09 am - 05 pm</span>
                        <span>$20.99</span>
                    </div>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                        ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                    </p>
                </div>
                <div class="events-details-list mb-35  wow fadeInUp2 animated" data-wow-delay='.1s'>
                    <h3>Why Donate Our Product</h3>
                    <p>
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci velit, sed quia non numquam
                    </p>
                    <ul class="details-list pt-30">
                        <li>SEO Belong Your Web Design Process</li>
                        <li>1914 translation by H. Rackham</li>
                        <li>Section Finibus Bonorum et Malorum</li>
                        <li>Build Music Manager With Nuxt Express</li>
                        <li>Standard Lorem Sum Passage Used</li>
                        <li>Build Music Manager With Nuxt Express</li>
                    </ul>
                </div>
                <div class="map-area mb-60  wow fadeInUp2 animated" data-wow-delay='.1s'>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29168.42973837642!2d90.37845363955077!3d23.958540550000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1606918909925!5m2!1sen!2sbd"></iframe>
                </div>
                <div class="events-post-area  wow fadeInUp2 animated" data-wow-delay='.1s'>
                    <div class="row">
                        <div class="col-xl-6 col-lg-12 col-md-6">
                            <div class="post d-sm-flex align-items-center mb-30">
                                <div class="post__img mr-20">
                                    <img src="assets/img/events/13.jpg" alt="">
                                </div>
                                <div class="post__text">
                                    <span><i class="far fa-map-marker-alt"></i> 25 Main Street ,New York</span>
                                    <h5><a href="blog-details.html">Smashing Podcast Esode 10 With Trine Falbe</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-6">
                            <div class="post d-sm-flex align-items-center mb-30">
                                <div class="post__img mr-20">
                                    <img src="assets/img/events/14.jpg" alt="">
                                </div>
                                <div class="post__text">
                                    <span><i class="far fa-map-marker-alt"></i> 25 Main Street ,New York</span>
                                    <h5><a href="blog-details.html">Smashing Podcast Esode 10 With Trine Falbe</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="events-details-right">
                    <div class="widget grey-bg mb-40">
                        <div class="widget-contact-box pos-rel wow fadeInUp2 animated" data-wow-delay='.1s'>
                            <h4>Conatct Us</h4>
                            <p>Sed perspicia unde omnis iste natus error sit voluptatem accuese</p>
                            <ul class="fot-list address-list mb-20">
                                <li><a href="#"><i class="far fa-map-marker-alt"></i> 250 Main Street, 2nd Floor, USA</a></li>
                                <li><a href="#"><i class="far fa-envelope"></i> support@gmail.com</a></li>
                                <li><a href="#"><i class="far fa-phone-volume"></i> 888 (0123) 456 79</a></li>
                            </ul>
                            <ul class="team__social media-social mt-10">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-behance"></i>
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <div class="widget-donate-box pos-rel text-center" style="background-image:url(assets/img/events/15.jpg);">
                            <h5>Donate Now</h5>
                            <h3>Want To Donate Our Product</h3>
                            <a class="theme_btn theme_btn_bg" href="contact.html" data-animation="fadeInLeft" data-delay=".5s">
                                donate now <i class="far fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>