.dashbaord-UI {
  // width: fit-content !important;
  .summary-info_content {
    .card-wrapper {
      height: 101px;
      border: 1px solid #f5f5f5;
    }
  }
  .installment-wrapper {
    height: 452px;
    /* UI Properties */
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #00000014;
    opacity: 1;
  }
}
