  <!--footer-area start-->
<footer class="footer-area heding-bg pos-rel pt-100" style="background-image:url(assets/img/bg/02.png)">
    <div class="container">
        <div class="footer-bottom-area">
            <div class="row mb-30">

            <div class="col-xl-2 col-lg-3 col-md-6">
                    <div class="footer-log mb-30">
                        <a href="index.html" class="footer-logo mb-30">
                            <img src="assets/img/logo/footerlogo.png"
                                 alt="" style="max-width:247px;max-height:73px;">
                        </a>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-6  wow fadeInUp2 animated" data-wow-delay='.1s'>
                    <div class="footer__widget mb-30">
                        <h5 class="semi-title  text-buzz-in">Quick Links</h5>
                        <ul class="fot-list mt-16px">
                            <li ><a  href="campaigns">Campaigns</a></li>
                            <li ><a  href="launchcampaign">Launch Campaign</a></li>
                            <li ><a  href="/">About</a></li>
                            <li ><a  href="/">Contact</a></li>
                        @*    <li><a href="#">News & articles</a></li>
                            <li><a href="#">Contact us</a></li>*@
                        </ul>
                    </div>
                </div>
                @*<div class="col-xl-2 col-lg-3 col-md-6 wow fadeInUp2 animated" data-wow-delay='.3s'>
                    <div class="footer__widget mb-30 pl-40">
                        <h5 class="semi-title mb-25">Our Project</h5>
                        <ul class="fot-list">
                            <li><a href="#">Education</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Film & Video</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Games</a></li>
                        </ul>
                    </div>
                </div>*@
                <div class="col-xl-4 col-lg-6 col-md-6  wow fadeInUp2 animated" data-wow-delay='.5s'>
                    <div class="footer__widget mb-25 pl-85">
                        <h5 class="semi-title  text-buzz-in">Our Goal</h5>
                        @*<p class="mb-10">
                            Perspi ciatis unde omnis iste nat
                            error sit voluptatem accusan
                        </p>*@
                        <ul class="fot-list address-list mt-16px">
                            <li><a href="#"> Decentralized</a></li>
                            <li><a href="#"> Permissionless</a></li>
                            <li><a href="#"> Trustless</a></li>
                            <li><a href="#"> Native Payments</a></li>
                        </ul>

                    </div>
                </div>

                <div class='col-4'>
                    <div class='footer-links'>
                        <h5 class="semi-title  text-buzz-in">Follow Us</h5>

                        <ul class='d-flex gap-3 mt-16px'>

                            <li> 
                                <img src="assets/img/icons/email.png" />
                             </li>
                            <li> 
                                <img src="assets/img/icons/facebook-_4_.png" />
                             </li>
                            <li> 
                                <img src="assets/img/icons/linkedin-_2_.png" />
                             </li>
                            <li> 
                                <img src="assets/img/icons/twitter-_2_.png" />
                             </li>
                        </ul>

                    </div>

                </div>
                @*<div class="col-xl-4 col-lg-6 col-md-6  wow fadeInUp2 animated" data-wow-delay='.7s'>
                    <div class="footer__widget fot_abot mb-30 pl-85">
                        <h5 class="semi-title mb-25">Donation Us</h5>
                        <p class="mb-30">
                            Sed ut perspi ciatis unde omnis iste
                            natus error sit voluptatem accusantiu doloremque laudantiu totam
                        </p>
                        <div class="subscribe-content foter-subscribe">
                            <form class="subscribe-form" action="form.php">
                                <input class="form-control" type="text" placeholder="Enter Your Email">
                                <button><i class="far fa-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
        <!--scroll-target-btn-->
        <!-- <a href="#top" class="scroll-target"><i class="far fa-arrow-up"></i></a> -->
        <!--scroll-target-btn-->
        <div class="copy-right-area pt-30">
            <div class="row align-items-center">
                
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div class="copyright mb-30 ">
                        <p>© 2020 Given. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer-area end-->